@import "./base.css";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 나눔스퀘어, 'NanumSquare', sans-serif; 
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  word-break: keep-all;
  font-weight: normal;
  transition: 0.3s;
}
a{text-decoration: none;}
div{box-sizing: border-box;}
::-webkit-scrollbar {
  display: none;
}
textarea{padding-top:10px;}
input:focus {outline:none;}
textarea:focus {outline:none;padding-left: 10px;padding-top:10px;}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
